@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');


:root {
  font-family: Montserrat,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1440px; */
  text-align: center;
}

body {
  font-size: 62.5%;
}

/*---------- Composant Navigation --------*/

header {
  background-color: #333333;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 2rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.navbar-item {
  margin-right: 2.5rem;
  padding: 0.4rem;
  color: #ffffff;
  ;
  /* border-bottom: 2px solid rgb(255, 255, 255); */
}

.navbar-item:hover {
  cursor: pointer;
  background-color: rgba(212, 212, 212, 0.25);
  color: #ff0000;
  /* border-bottom: 2px solid blue; */
  padding: 0.4rem;
}

/*----------- Composant Resume  -----------*/
.accueil {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-size: 32px;
}

.resume-item {
  display: flex;
  margin: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.profile {
  width: 30%;
  margin: 1rem;
}

.metier {
  font-size: 24px;
  font-style: italic
}

.resume-présentation {
  display: flex;
  width: 60%;
  justify-content: center;
  align-self: center;
  padding: 1rem;
  font-size: 20px;
}

/*-------- Composant Skills --------*/

.skills {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.skill {
  justify-content: center;
  align-items: center;
}

.skill-name {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.compétances {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.frontend {
  padding: 0rem 4rem 0rem 0rem;
  margin: 0rem 1rem 1rem 1rem;
}

.backend {
  padding: 0rem 0rem 0rem 4rem;
  margin: 0rem 1rem 1rem 1rem;
}

.progress {
  border: 1px solid black;
  width: 10rem;
}

.progress-bar {
  display: flex;
  background-color: blue;
  border-radius: 1rem;
  height: 0.5rem;
  margin-left: 0.2rem;
  justify-content: center;
  align-self: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /* transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  -o-transition: width 1s ease; */
}

.skill-logo{
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.skill-group{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}

.experiance-entreprise{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/*------   Composants Projects     -----*/

.portfolio {
  font-size: 16px;
  min-height: 100vh;
  
}

.projets {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.projet {
  border: 1px solid #ccc
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projet-image {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.projet-info {
  flex-grow: 1;
}

/*------   Composants FormContact     -----*/

.contact {
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 200px;
  width: 80%;
  padding: 1rem;
  border: 1px solid #000;
  background-color: rgb(212, 212, 212);
}

.form-submit {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30%;
  margin: 1rem;
  padding: 0.5rem;
}

.email-error {
  color: red;
}

.message-error {
  color: red;
}


/* Page not found */

.notfound{
  font-size: 16px;
}

/*---- Composant Footer ----*/

footer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #333333;
color: #ffffff;
font-size: 16px;
padding: 1rem;
bottom: 0;
margin-top: 1rem;
}

.infos-légal{
  list-style: none;
}

.mentions{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.titre-list{
  font-weight: bold;
}
.mentions:first-child{
  width: 100%;
}
.mentions:last-child{
  width: 50%;
}
.infos{
display: flex;
flex-direction: row;
justify-content: center;
align-self: center;
gap: 2rem;
}


/* Media queries pour les écrans de taille standard */
@media screen and (min-width: 768px) {}


/* Media queries pour les appareils mobiles */
@media screen and (max-width: 767px) {}